@import "tailwindcss";

:root {
  --main-color: rgb(28 25 23);
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav,.auth {
  background-color: var(--main-color);
}

.nav .logo {
  background-color: var(--main-color);
}
